<% percentage_change = percentage_change(value, last_value) %>
<% color = value_color(percentage_change) %>

<span class="rtl:ml-1.5 flex rtl:flex-row-reverse font-normal items-center mr-1.5 text-sm <%= color %> dark:<%= color %>">
  <%= arrow_icon(value - last_value) %>
  <% if ltr? %>
    <%= percentage_change %>%
  <% elsif rtl? %>
    <span>%</span><span><%= percentage_change %></span>
  <% end %>
</span>