<%= turbo_frame_tag :dashboard do %>
  <div data-controller="navigation">
    <%= render 'dashboard/partials/navigation' %>

    <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900" data-navigation-target="overviewFrame">
      <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
        <main>
          <div class="px-4 pt-6 2xl:px-0">
            <%= render 'dashboard/partials/bridge' %>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-3 2xl:grid-cols-3">

              <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <div class="w-full">
                  <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Steps</h3>
                  <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white"><%= current_user.acivities.sum(:steps) %></span>
                </div>
              </div>
              <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <div class="w-full">
                  <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Distance (KM)</h3>
                  <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white"><%= format_distance(current_user.activities.sum(:distance)) %></span>
                </div>
              </div>
              <div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <div class="w-full">
                  <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Calories (kcal)</h3>
                  <span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white"><%= current_user.activities.sum(:calories).to_i %></span>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Steps per year</h3>

                <div class="w-full">
                  <%= line_chart TotalStepsPerYear.call %>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Accumulated Steps</h3>

                <div class="w-full">
                  <%= line_chart StepsAccumulatedSumQuery.call %>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Steps per month</h3>

                <div class="w-full">
                  <%= line_chart TotalStepsPerMonth.call %>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Steps per month/year</h3>

                <div class="w-full">
                  <%= line_chart TotalStepsPerMonthYear.call %>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Heart Rate</h3>

                <div class="w-full">
                  <%= line_chart [:heart_rate, :max_heart_rate].map { |type|
                    { name: type, data: MaxHeartRatePerMonth.call(type) }
                  } %>
                </div>
              </div>
            </div>

            <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
              <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">Top 20 activities</h3>
                <div id="fullWidthTabContent" class="border-t border-gray-200 dark:border-gray-600">
                  <div class="pt-4" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                      <% @top_20_steps.each do |record| %>
                        <li class="py-3 sm:py-4">
                          <div class="flex items-center justify-between">
                            <div class="flex items-center min-w-0">
                              <div class="ml-3">
                                <p class="font-medium text-gray-900 truncate dark:text-white">
                                  <%= l(record.date, format: :long) %>
                                </p>
                              </div>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold dark:text-white">
                              <%= record.steps %>
                            </div>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </main>
      </div>
    </div>
  </div>
<% end %>