<% content_for :title, Date.current.strftime('%B') %>

<%= turbo_frame_tag :dashboard do %>
  <%= render 'layouts/navigation' %>

  <% if new_update_available? %>
    <%= render 'dashboard/partials/new_update_available' %>
  <% end %>

  <main data-navigation-target="thisMonthFrame">
    <div class="px-4 pt-6 2xl:px-0">
      <%= render 'dashboard/partials/bridge' %>
      <%= render 'dashboard/partials/last_sync' %>

      <div class="flex items-center justify-center mr-1.5 dark:text-gray-500 mb-2 mt-2">
        <% if current_user.created_at <= date_from_params(params[:date]).prev_month %>
          <kbd class="inline-flex items-center px-2 py-1.5 text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">
            <%= link_to dashboard_details_path(date: date_from_params(params[:date]).prev_month.strftime('%Y-%m')), 'data-turbo-action': 'replace' do %>
              <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
                <path d="M8.766.566A2 2 0 0 0 6.586 1L1 6.586a2 2 0 0 0 0 2.828L6.586 15A2 2 0 0 0 10 13.586V2.414A2 2 0 0 0 8.766.566Z"/>
              </svg>
              <span class="sr-only">Arrow key left</span>
            <% end %>
          </kbd>
        <% end %>

        <% if current_user.created_at.next_month <= Date.current %>
          <span class="mx-2"> <%= l(date_from_params(params[:date]), format: :month_year) %></span>
        <% end %>

        <% if Date.current >= date_from_params(params[:date]).next_month %>
          <kbd class="rtl:rotate-180 inline-flex items-center px-2 py-1.5 text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500">
            <%= link_to dashboard_details_path(date: date_from_params(params[:date]).next_month.strftime('%Y-%m')), 'data-turbo-action': 'replace' do %>
              <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 10 16">
                <path d="M3.414 1A2 2 0 0 0 0 2.414v11.172A2 2 0 0 0 3.414 15L9 9.414a2 2 0 0 0 0-2.828L3.414 1Z"/>
              </svg>
              <span class="sr-only">Arrow key right</span>
            <% end %>
          </kbd>
        <% end %>
      </div>

      <% if @active_tournament && !params[:date] %>
        <%= link_to tournament_path(@active_tournament), data: { turbo_frame: '_top' } do %>
          <%= render 'dashboard/partials/active_tournament_card', active_tournament: @active_tournament %>
        <% end %>
      <% end %>

      <% cache "#{current_user.updated_at.iso8601}_#{params[:date]}" do %>
        <%= render 'dashboard/partials/summary' %>
        <%= render 'dashboard/partials/steps_month' %>

        <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-1 2xl:grid-cols-1">
          <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 dark:border-gray-700 dark:bg-gray-800 xl:mb-0">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Heart Rate this month</h3>

            <div class="w-full">
              <%= line_chart [:heart_rate, :max_heart_rate].map { |type|
                { name: type, data: MaxHeartRatePerDay.call(type, params[:date]) }
              } %>
            </div>
          </div>
        </div>

        <div class="flex flex-col mt-6">
          <div class="overflow-x-auto rounded-lg">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden shadow sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
                  <thead class="bg-gray-200 dark:bg-gray-700">
                  <tr>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Date
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Steps
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Distance (KM)
                    </th>
                    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                      Calories (Kcal)
                    </th>
                  </tr>
                  </thead>
                  <tbody class="bg-white dark:bg-gray-800">
                  <% Overview::ActivitiesThisMonthQuery.call(params[:date]).order(:date).each do |activity| %>
                    <tr>
                      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                        <%= l(activity.date, format: :short) %>
                      </td>
                      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                        <%= activity.steps %>
                      </td>
                      <td class="p-4 text-sm font-semibold whitespace-nowrap dark:text-white">
                        <%= (activity.distance / 1000).round(2) %>
                      </td>
                      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                        <%= activity.calories.floor %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </main>

<% end %>