<%= turbo_frame_tag :dashboard do %>
  <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900" data-navigation-target="thisMonthFrame">
    <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
      <main>
        <div class="px-4 pt-6 2xl:px-0">
          <%= render 'dashboard/partials/bridge' %>

          <%= render 'dashboard/partials/navigation' %>

          <%= render 'dashboard/partials/summary' %>

          <%= render 'dashboard/partials/steps_month' %>
        </div>
      </main>
    </div>
  </div>
<% end %>