<% content_for :turbo_native_title, t('.page_title') %>

<div class="flex min-h-full flex-col px-6 mx-auto md:h-screen turbo-native:h-screen dark:bg-gray-900 mt-10">
  <h3 class="float-left mb-3 text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-3xl dark:text-white"><%= t('.title') %></h3>
  <p class="mb-5 text-base font-normal text-gray-500 md:text-lg dark:text-gray-400"><%= t('.sub_title') %></p>

  <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <%= form_with url: sessions_path, html: { "data-turbo-action": "replace" }, class: "mt-8 space-y-6 turbo-native:mt-0" do |form| %>
      <%= render 'shared/flash_errors' %>

      <div>
        <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.email_field :email, autocomplete: "email", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
      <div>
        <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password, autocomplete: "current-password", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
      <%= form.submit t('.sign_in'), class: 'w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800' %>
    <% end %>
  </div>

  <div class="bottom-0 mt-5">
    <div class="flex items-center justify-center">
      <span class="font-medium dark:text-white"><%= t('.register_new_account') %></span>
      <%= link_to t('.sign_up'), new_user_path, class: 'long-press-disabled py-2 px-1 pr-4 text-blue-700 dark:text-blue-400 font-bold rounded-full' %>
    </div>
  </div>
</div>
