<div class="flex flex-col mt-6">
  <div class="overflow-x-auto rounded-lg">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
          <thead class="bg-gray-200 dark:bg-gray-700">
          <tr>
            <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              <%= t('.date') %>
            </th>
            <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              <%= t('.steps') %>
            </th>
            <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              <%= t('.distance') %>
            </th>
            <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
              <%= t('.calories') %>
            </th>
          </tr>
          </thead>
          <tbody class="bg-white dark:bg-gray-800">
          <% @activities_this_month.each do |activity| %>
            <tr>
              <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                <%= l(activity.date, format: :short) %>
              </td>
              <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                <%= activity.steps %>
              </td>
              <td class="p-4 text-sm font-semibold whitespace-nowrap dark:text-white">
                <%= (activity.distance / 1000).round(2) %>
              </td>
              <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
                <%= activity.calories.floor %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>