<!-- This is a workaround because tailwind compiles the needed classes based on the used ones at the moment of compilation
     and dynamically used classes won't be compiled unless they are used somewhere else in the code -->
<div class="hidden bg-amber-400 bg-amber-500 bg-red-400 bg-red-500 bg-emerald-400 bg-emerald-500"></div>

<div class="relative flex flex-col max-w-lg px-4 py-4 m-1 text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:bg-gray-800 dark:text-white">

  <div class="flex justify-center items-center mb-4">
    <h3 class="flex text-xl font-semibold justify-center"><%= active_tournament.name %></h3>
    <span class="relative flex h-3 w-3 ms-2">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full <%= tournament_indicator_color(active_tournament, 400) %> opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 <%= tournament_indicator_color(active_tournament, 500) %>"></span>
    </span>
  </div>

  <div class="flex justify-center">
    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"><%= l(active_tournament.start_date, format: :long) %> - <%= l(active_tournament.end_date, format: :long) %></span>
  </div>
</div>
