<% content_for(:title, t('.data_page_title')) %>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        <%= t('.header.title') %>
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        <%= t('.header.description') %>
      </p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <%= t('.sections.data_collection.title') %>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          <%= t('.sections.data_collection.content') %>
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <%= t('.sections.purposeful_use.title') %>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          <%= t('.sections.purposeful_use.content') %>
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <%= t('.sections.data_control.title') %>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          <%= t('.sections.data_control.content') %>
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <%= t('.sections.security.title') %>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          <%= t('.sections.security.content') %>
        </p>
      </div>
      <div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          <%= t('.sections.privacy_policy.title') %>
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          <%= t('.sections.privacy_policy.content_html', privacy_policy_link: link_to(t('.sections.privacy_policy.privacy_policy_link_text'), privacy_path, class: 'long-press-disabled text-blue-500')) %>
        </p>
      </div>
    </div>
  </div>
</section>