<div class="relative flex flex-col max-w-lg px-4 py-4 m-3 text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:bg-gray-800 dark:text-white">

  <div class="flex justify-center items-center mb-4">
    <h3 class="text-xl font-semibold"><%= current_challenge.title %></h3>

    <span class="relative flex h-3 w-3 ms-2">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-emerald-500"></span>
    </span>
  </div>

  <div class="flex justify-between" data-turbo-permanent>
    <div>
      <p class="text-md font-semibold"><%= t('.start_time') %></p>

      <div data-controller="time-zone" data-time-zone-label-value="">
        <p data-time-zone-target="serverSyncTime" hidden class="font-light text-gray-700 sm:text-lg dark:text-gray-400"><%= current_challenge.starts_at.iso8601 %></p>
        <p data-time-zone-target="clientSyncTime" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"></p>
      </div>
    </div>

    <div>
      <p class="text-md font-semibold"><%= t('.end_time') %></p>

      <div data-controller="time-zone" data-time-zone-label-value="">
        <p data-time-zone-target="serverSyncTime" hidden class="font-light text-gray-700 sm:text-lg dark:text-gray-400"><%= current_challenge.ends_at.iso8601 %></p>
        <p data-time-zone-target="clientSyncTime" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"></p>
      </div>
    </div>
  </div>

  <div class="flex flex-row mt-10 justify-center">
    <div class="flex items-end">
        <span class="inline-flex text-md bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">
          <svg class="me-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
          </svg>

          <%= challenge_participants_count(current_challenge) %>
        </span>
      <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"><%= t("enums.challenge.challenge_type.#{current_challenge.challenge_type}") %></span>
      <% if current_challenge.milestone? %>
        <span class="bg-gray-100 text-gray-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"><%= current_challenge.goal %></span>
      <% end %>
    </div>
  </div>
</div>
