<div class="relative flex flex-col max-w-lg px-4 py-4 mx-auto text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:bg-gray-800 dark:text-white">
  <% if challenge.locked? %>
    <div class="absolute top-0 right-0 mx-1 my-2">
      <svg class="w-6 h-6 pt-1 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.5 8V4.5a3.5 3.5 0 1 0-7 0V8M8 12v3M2 8h12a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1Z"/>
      </svg>
    </div>
  <% end %>
  <h3 class="mb-2 text-xl font-semibold"><%= challenge.title %></h3>

  <div class="items-start">
    <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"><%= l(challenge.starts_at.to_date, format: :long) %> - <%= l(challenge.ends_at.to_date, format: :long) %></span>
  </div>

  <div class="flex flex-row mt-4 justify-between">
    <div class="flex items-end">
      <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"><%= challenge.challenge_type.capitalize %></span>
      <% if challenge.joined %>
        <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"><% t('.joined') %></span>
      <% end %>
    </div>

    <div class="flex flex-col items-baseline">
      <span class="mr-2 text-3xl font-extrabold"><%= challenge_participants_count(challenge) %></span>
      <span class="text-sm text-gray-500 dark:text-gray-400"><%= challenge_participants_label(challenge) %></span>
    </div>
  </div>
</div>
