<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
  <thead class="bg-gray-200 dark:bg-gray-700">
  <tr>
    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
      Status
    </th>
    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
      Participant
    </th>
    <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
      Steps
    </th>
    <% if @challenge.tournament? %>
      <th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
        Score
      </th>
    <% end %>
  </tr>
  </thead>
  <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200">
  <% @challenge_users.each do |challenge_user| %>
    <tr class="<%= 'bg-blue-300 dark:bg-blue-600' if challenge_user.id == @challenge_user&.id %>">
      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
        <% if @challenge.started? && !challenge_user.score.zero? %>
          <%= challenge_king_of_the_hill?(challenge_user.challenge.current_king_id, challenge_user.tournament_participant_id) %>
        <% else %>
          -
        <% end %>
      </td>
      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
        <%= challenge_user.user.username %>
      </td>
      <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
        <% if @challenge.started? %>
          <%= challenge_user.score %>
        <% else %>
          -
        <% end %>
      </td>
      <% if @challenge.tournament? %>
        <td class="p-4 text-sm font-normal whitespace-nowrap dark:text-white">
          <%= challenge_user.tournament_score %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
