<% content_for :title, @challenge.title %>

<div class="h-screen">
  <div class="relative flex flex-col max-w-lg px-4 py-4 m-3 text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 xl:p-8 dark:bg-gray-800 dark:text-white">
    <% if @challenge.locked? %>
      <div class="absolute top-0 right-0 mx-1 my-2">
        <svg class="w-6 h-6 pt-1 mr-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.5 8V4.5a3.5 3.5 0 1 0-7 0V8M8 12v3M2 8h12a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1Z"/>
        </svg>
      </div>
    <% end %>

    <h3 class="mb-4 text-2xl font-semibold turbo-native:hidden"><%= @challenge.title %></h3>

    <div class="flex justify-between" data-turbo-permanent>
      <div>
        <p>Start Time</p>

        <div data-controller="time-zone" data-time-zone-label-value="">
          <p data-time-zone-target="serverSyncTime" hidden class="font-light text-gray-700 sm:text-lg dark:text-gray-400"><%= @challenge.starts_at.iso8601 %></p>
          <p data-time-zone-target="clientSyncTime" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"></p>
        </div>
      </div>

      <div>
        <p>End Time</p>

        <div data-controller="time-zone" data-time-zone-label-value="">
          <p data-time-zone-target="serverSyncTime" hidden class="font-light text-gray-700 sm:text-lg dark:text-gray-400"><%= @challenge.ends_at.iso8601 %></p>
          <p data-time-zone-target="clientSyncTime" class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"></p>
        </div>
      </div>
    </div>

    <div class="flex flex-row mt-10 justify-center">
      <div class="flex items-end">
        <span class="inline-flex text-md bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">
          <svg class="me-1 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
          </svg>

          <%= challenge_participants_count(@challenge) %>
        </span>
        <span class="bg-red-100 text-red-800 text-md font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"><%= @challenge.challenge_type.capitalize %></span>
      </div>
    </div>
  </div>

  <% unless @challenge.locked? && @challenge_user.nil? %>
    <div class="flex flex-col mt-6 p-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <% if @challenge.solo? %>
              <%= render 'solo_challenge_participants' %>
            <% else %>
              <%= render 'team_challenge_participants' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="w-full p-6 sm:p-8 fixed bottom-0 z-50">
    <% if @challenge.active? && @challenge.standalone? %>
      <% if @challenge_user %>
        <%= link_to 'Leave', challenge_challenge_user_path(@challenge, @challenge_user),
                    data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to leave the challenge?', },
                    class: 'block long-press-disabled bg-red-600 hover:bg-red-700 focus:ring-4 font-medium rounded-lg px-5 py-2.5 text-center text-white dark:text-white dark:focus:ring-primary-900' %>
      <% elsif @challenge.locked? %>
        <%= button_to 'Join with code', new_challenge_challenge_user_path(@challenge),
                      method: :get,
                      data: { turbo_frame: '_top', turbo_action: 'advance' },
                      class: 'block w-full bg-primary-600 hover:bg-primary-700 font-medium rounded-lg px-5 py-2.5 text-center text-white dark:text-white dark:focus:ring-primary-900' %>
      <% elsif @challenge.team? %>
        <%= button_to 'Join a team', challenge_teams_path(@challenge),
                      method: :get,
                      data: { turbo_frame: '_top', turbo_action: 'advance' },
                      class: 'block w-full bg-primary-600 hover:bg-primary-700 font-medium rounded-lg px-5 py-2.5 text-center text-white dark:text-white dark:focus:ring-primary-900' %>
      <% else %>
        <%= button_to 'Join', challenge_challenge_users_path(@challenge),
                      method: :post,
                      class: 'block w-full bg-primary-600 hover:bg-primary-700 font-medium rounded-lg px-5 py-2.5 text-center text-white dark:text-white dark:focus:ring-primary-900' %>
      <% end %>
    <% end %>
  </div>
</div>
