<!DOCTYPE html>
<html data-<%= platform_identifier %> lang="en" class="dark">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          as="style"
          rel="stylesheet preload prefetch" >
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= yield :head %>
  </head>

  <body class="bg-gray-50 dark:bg-gray-800">
    <header class="turbo-native:hidden">
      <nav class="z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-3 px-4">
        <div class="flex justify-between items-center max-w-screen-2xl mx-auto">
          <div class="flex justify-start items-center">
            <%= link_to root_path, class: 'flex mr-14' do %>
              <span class="self-center hidden sm:flex text-2xl font-semibold whitespace-nowrap dark:text-white">StepStreak</span>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900">
      <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
