<!DOCTYPE html>
<html data-<%= platform_identifier %> lang="en" class="dark">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/app_icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/app_icon.png">
    <link rel="icon" type="image/png" href="assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50 dark:bg-gray-800">
    <header class="turbo-native:hidden">
      <nav class="z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 py-3 px-4">
        <div class="flex justify-between items-center max-w-screen-2xl mx-auto">
          <div class="flex justify-start items-center">
            <a href="#" class="flex mr-14">
              <span class="self-center hidden sm:flex text-2xl font-semibold whitespace-nowrap dark:text-white">StepStreak</span>
            </a>
          </div>
        </div>
      </nav>
    </header>

    <% if turbo_native_app? && current_user %>
      <%= turbo_stream_from("activities_turbo_native_user_#{current_user.id}") %>
    <% end %>

    <div class="flex overflow-hidden bg-gray-50 dark:bg-gray-900">
      <div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
